@model prjTravelDate_core.Models.ForumList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ForumList</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <div class="form-group col-5 pl-0">
                    <select class="form-select form-select-md mb-3" aria-label="Large select example">
                        <option selected>請選擇商品</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <select class="form-select form-select-md mb-3" aria-label="Large select example">
                        <option selected>請選擇日期</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <input type="button" value="確定" class="btn btn-secondary" />
                </div>
            </div>
            
            <div class="form-group col-5 pl-0">
                <label asp-for="DueDate" class="control-label">截團日期</label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDatetime" class="control-label"></label>
                <input asp-for="ReleaseDatetime" class="form-control" />
                <span asp-validation-for="ReleaseDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watches" class="control-label"></label>
                <input asp-for="Watches" class="form-control" />
                <span asp-validation-for="Watches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
